body,
html {
  margin: 0;
  padding: 0;
}

/* Jumbotron Styling */
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

header {
  border-radius: 0.1rem !important;
  letter-spacing: 5px;
  font-family: "Bungee Outline", cursive;
}

.main-header {
  width: fit-content;
}

.main-header::first-letter {
  font-size: 1.2em;
}

/* Navbar Styling */
nav {
  background: rgb(141, 124, 124);
}

/* Search Form  */
.form-header {
  font-weight: bold;
  font-size: large;
}

form {
  margin-right: 10px;
  border-radius: 22px;
}

.input-text {
  margin-left: 5px;
  margin-right: 15px;
}

/* Recipe return styling */
#recipe-return {
  display: flex;
  flex-grow: 3;
  justify-content: space-around !important;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-div {
  display: inline-flex;
  background-color: grey;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.recipe-name {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}
